form.autocomplete-form {
  .card {
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;

    .card-header {
      .collapsible {
        display: block;
        text-align: center;
        background-color: $primary-color;
        color: white;

        .fa {
          margin-left: 0.5rem;
          @include transition(.4s);
          vertical-align: middle;

          &.up {
          }

          &.down {
            @include transform(rotate(180deg));
            -webkit-backface-visibility: hidden;
            //@include transform-origin(50% 50%);
            //@include fa-icon-rotate(180deg, 2);
          }
        }
      }
    }

    .card-body {
      padding-top: 0.5rem;
    }
  }
}
