.card {
  background-color: white;
  border: 1px solid lighten($grey-lighter, 10%);
  position: relative;
  overflow: hidden;
  padding: 1rem;
  border-radius: 5px;

  div.card-header {
    font-size: 1.1rem;

    strong {
      padding-bottom: 3px;
      border-bottom: 1px solid $body-color;
    }
  }

  .card-header + .card-body, .card-body + .card-footer {
    margin-top: 2rem;

    @media #{$small-and-down} {
      margin-top: 1.5rem;
    }
  }

  &.actionable-card {
    .progress {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .section {
    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.additional-action {
  margin-bottom: 0.5rem;

  a {
    color: $link-color;

    &:hover {
      color: darken($link-color, 12%);
      padding-bottom: 2px;
      border-bottom: 1px solid darken($link-color, 12%);
    }
  }
}