@import "variables";
@import "materialize/prefixer";
@import "materialize/mixins";
@import "materialize/color";
@import "color";
@import "fontawesome/font-awesome";
@import "materialize/variables";
@import "materialize/normalize";

@import "materialize/global";
@import "materialize/roboto";
@import "global"; // TODO: break this into global and typography
@import "navbar";
@import "materialize/grid";
@import "materialize/navbar";
//@import "materialize/tabs";
//@import "materialize/sideNav";

@import "lists";
@import "cards";
@import "buttons";
@import "form";
@import "dropdown";
@import "chips";

@import "custom-page";
@import "search-page";
@import "suggestions-page";
@import "autocomplete-form";
