.backgrnd-theme-1 {
  background-color: rgba(0, 151, 167, 0.59);
  border-radius: 2px;
  height: 50px;
  padding-top: 15px;
  padding-left: 8px;
}

/*.breadcrumb_custom {
  background: transparent;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  //background-color: #f5f5f5;
  border-radius: 4px;
}*/

.backgrnd-theme-1 > ul > li > a {
  color: white;
  font-size: 0.75em;
}

.backgrnd-theme-1 > ul > li {
  display: inline-block;
  padding-right: 12px;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}



.inner-content-wrapper {
  position: fixed;
  width: 88.33%;
  z-index: 1030;
  top: 58px;
}