.backgrnd-theme-2 {
  height: 100vh;
  margin: -5px auto;

}

.chart {
  &-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    background-color: rgba(178, 223, 219, 0.4);
  }

  &-header {
    font-size: 0.85em;
    /* text-align: left; */
    text-decoration: underline;
    text-transform: uppercase;
    display: inline-block;
  }

  &-summary {
    border: 1px solid teal;
    display: inline-block;
    float: right;
    height: 50px;
    background-color: rgba(128,203,196,0.4);
  }
}

.td-underline {
  text-decoration: underline;
}

.td-strikethrough {
  text-decoration: line-through;
}

.block-1:after, .block-2:after {
  content: '';
  display: block;
  clear: both;
}

.chart-clickable-left span {
  border: 1px solid teal;
  padding-left: 4px;
  padding-right: 7px;
  cursor: pointer;
}

.chart-clickable-right span {
  border: 1px solid teal;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

.chart-clickable-middle span {
  border: 1px solid teal;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

.chart-clickable {

  &-left {
    display: inline-block;
    padding-top: 10px;
  }

  &-middle {
    display: inline-block;
    padding-top: 10px;
    margin-left: 12px;
  }

  &-right {
    display: inline-block;
    padding-top: 10px;
    float: right
  }

}

.block-2 {
  padding-top: 20px;
}

.block-3 table, .block-3 th, .block-3 td {
  border: 1px solid teal;
}

.block-3 tr:nth-child(even) {
  background-color: rgba(178, 223, 219, 0.8);
}

.block-3 {
  padding-top: 20px;
}

.option-clicked {
  background-color: rgba(178, 223, 219, 0.8);
}

.block-3 table tbody svg .bar {
  fill: rgba(0,137,123,0.76);
}

.data-unavailable{
  background-color: rgba(178, 223, 219, 0.4);
  height: 100vh;
  text-align: center;
  margin-top: -5px;
  vertical-align: middle;
}

.data-unavailable > h2{
  font-size: 2.5rem;
  padding-top: 250px;
  text-decoration: underline;
}

.overlay-data{
  text-align: center;
}

.overlay-data > h6 {
  font-size: 0.89rem;
  text-decoration: underline;
}
